.poster {
    height: 250px;
    width: auto;
}

.show {
    width: 800px;
    margin: 0 auto;
}

.content {
    display: flex;
}

.img {
    width: 25%;
}

.info {
    width: 75%;
}

.type {
    margin-top: 0;
}