.container {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    background: dodgerblue;
    height: 40px;
    padding: 10px 10px 0;
    margin-bottom: 20px;
}

.headerTxt{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.searchLine {
    display: block;
    width: 409px;
    margin: 0 auto;
    position: relative;
}

input {
    width: 250px;
    border: 1px solid black;
    outline: none;
    height: 20px;
    font-size: 16px;
    margin-left: 5px;
}

.autoComplete {
    max-width: 250px;
    margin-left: auto;
}

.shows {
    color: black;
    text-decoration: none;
    max-width: 250px;
    margin-bottom: 5px;
}